<html>
    <head>
        <title>ORVSD Central</title>
        {%block css%}
        {%endblock%}

        {%block scripts%}
        {%endblock%}
    </head>
    <body>
        <div id="header">
            <h1>ORVSD Central</h1>
            {%block header%}
                Filter Options:
                <form name="filter_options" action="/reports" method="POST">
                    <table>
                        <tr>
                            <th>Districts</th>
                            <th>Schools</th>
                            <th>Courses</th>
                            <th>Apply</th>
                        </tr>
                        <tr>
                            <td>
                                <select name="all_districts">
                                    <option selected value="All">All</option>
                                    {% for district in all_districts %}
                                        <option value="{{district.name}}">{{district.name}}</option>
                                    {% endfor %}
                                    <option value="None">None</option>
                                </select>
                            </td>
                            <td>
                                <select name="all_schools">
                                    <option selected value="All">All</option>

                                    {% for school in all_schools %}
                                        <option value="{{school.name}}">{{school.name}}</option>
                                    {% endfor %}
                                    <option value="None">None</option>
                                </select>
                            </td>
                            <td>
                                <select name="all_courses">
                                    <option selected value="All">All</option>
                                    {% for course in all_courses %}
                                        <option value="{{course.name}}">{{course.name}}</option>
                                    {% endfor %}
                                    <option value="None">None</option>
                                </select>
                            </td>
                            <td>
                                <input type="submit" value="Submit">Submit</input>
                            </td>
                    </table>
                </form>

            {%endblock%}
        </div>

        <div id="content">
            {%block content%}
            {%endblock%}
        </div>

        <div id="footer">
            {%block footer%}
            {%endblock%}
        </div>
    </body>
</html>
