<html>
    <head>
        <title>ORVSD Reports!</title>
    </head>
    
    {% extends base.html %}

    <br><br>

    {% if districts %}
        <label name="Districts" size="16">Districts</label>
        <table>
            <tr>
                <th>Name</th>
                <th># Schools</th>
                <th># Sites</th>
                <th># Courses</th>
                <th># Users</th>
            </tr>
            {% for district in districts %}
            <tr>
                <td><a href="/District/{{district.name}}">{{district.name}}</a></td>
                <td>{{district.schools|count}}</td>
                <td>{{district.sites|count}}</td>
                <td>{{district.courses|count}}</td>
                <td>{{district.num_users}}</td>
            </td>
            {% endfor %}
        </table>
    {% endif %}
    
    {% if schools %}
     <label name="Schools" size="16">Sites</label>
        <table>
            <tr>
                <th>School Name</th>
                <th>Domain</th>
                <th>License</th>
            </tr>
            {% for school in schools %}
            <tr>
                <td><a href="/School/{{school.name}}">{{school.name}}</a></td>
                <td>{{school.domain}}</td>
                <td>{{school.license}}</td>
            </td>
            {% endfor %}
        </table>
    {% endif %}

    {% if courses %}
        <label name="Courses" size="16">Courses</label>
        <table>
            <tr>
                <th>Name</th>
                <th># Installs</th>
                <th># Users</th>
            </tr>
            {% for course in courses %}
            <tr>
                <td><a href="/Courses/{{course.name}}">{{course.name}}</a></td>
                <td>{{course.installs}}</td>
                <td>{{course.num_users}}</td>
            </td>
            {% endfor %}
        </table>
    {% endif %}

</html>
